body{
    background-image:url(téléchargement.jpg);
    height: 100vh;
    background-size:cover;
    background-position:center; 
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin:auto;
}
.Form{
    position:relative;
    z-index: 1;
    background:#f8c67a;
    max-width:360px;
    margin:0 auto 100px;
    padding:45px;
    text-align:center;
}
.Form input{
font-family: "Roboto", sans-serif;
outline :l ;
background : #f3efe7;
width:100%;
border:0;
margin: 0 0 15px;
padding : 15px;
box-sizing: border-box;
font-size : 14px;
}

.Form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background :rgb(233, 136, 10);
    width: 100px;
    border: 0;
    padding:15px;
    color : #FFFFFF;
    font-size: 14;
    cursor: pointer;
}
.Form button:hover , .Form button:active{
    background:#43A047;
} 
.Form .message{
    margin:15px 0 0 ;
    color:aliceblue;
    font-size:12px;
}
.Form .message{
    color:rgb(97, 96, 93);
    text-decoration: none;
}
.Form .register-form{
    display:none;
}